.header{
    background-color: #F8F8F8;
    z-index: 10;
    position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: var(--shadow);
}

.headerIndicator{
    background-color: #F8F8F8;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100px;
    padding-right: 10em;
}
.logo{
    max-width: 65px;

    animation-name: rotate-logo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.navLink {
    background-color: white;
    display: flex;
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    justify-content: center;
    box-shadow: var(--shadow);
}

@keyframes rotate-logo {
    100%{
        transform: rotate(360deg);
    }
}