:root{
  --shadow: 0 0 10px rgba(0,0,0,0.25);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.router-animation-enter{
  opacity: 0;
}

.router-animation-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.router-animation-exit{
  opacity: 1;
}

.router-animation-exit-active{
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all 300ms ease-in;
}